{% extends "base.html" %}



{% block content %}

{% for message in get_flashed_messages() %}
<div id="flash-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}
    <h1>Hello {{ name }}</h1>
{% else %}
    <h1>What's your name ?</h1><br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(
            class = "form-label"
        )  }}
        {{ form.name(
            class="form-control small"
        ) }}
        <br>
        {{ form.submit(
            class="btn btn-secondary"
        )}}
    </form>
{% endif %}
<script>
    setTimeout(function() {
        var alert = document.getElementById('flash-alert');
        alert.style.transition = "opacity 1s ease";
        alert.style.opacity = 0;
        setTimeout(function() {
            alert.remove();
        }, 1000); // Adjust timing to match the CSS transition duration
    }, 2000); // 2 seconds delay before removing the alert
</script>



{% endblock %}